@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,400;0,700;1,400;1,500&family=Montserrat:ital,wght@1,400;1,500;1,700&display=swap');

/* :root {
    --bg-color-main: red;
    --white: #ffffff;
    --small-text:12px;

} */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* sıfırlama */
    font-family: 'Montserrat Alternates', sans-serif;
}
a{
    text-decoration: none;
    color: inherit;
}
body{
    width: 100vw;
    height: 100vh;
    background-color:  hsl(182, 33%, 45%);
}
nav{
    height: 90px;
    width: 100%;
    background-color: black;
    color:  hsl(182, 33%, 45%);
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius:25px 25px 25px 25px;
}

.logo-container{
    font-size: 36px;
    font-weight: 700;
}
.nav-container ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style:circle;
}
.nav-container ul .nav-link:last-child{
    margin-right: 0;
}
.nav-container ul .nav-link{
    margin-right: 30px;
    color: #fff;
    text-transform: capitalize; 
}
main{
    width: 100%;
    height: calc(100% - 90px);
    background-color: hsl(182, 33%, 45%);
    padding: 75px 150px 75px 30px;
}
main .main-container{
    width: 100%;
    height: 100%;
    /* background-color:beige; */
    display: flex;
}
main .main-container .main-infos-content{
    width: calc(100% - 500px);
    height: 100%;
    /* background-color: rgb(221, 147, 165); */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main .main-container .main-infos-content .text-content{
    margin-bottom: 50px;
    margin-top: -180px;
    
}

main .main-container .main-infos-content .text-content h2{
    margin-bottom: 12px;
    font-size: 36px;
    font-weight: 700;
    color: rgb(231, 212, 212);
}

main .main-container .main-infos-content .text-content span{
    color: #d4d6e2;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: -1px;
}

main .main-container .main-infos-content .button-content{
    display: flex;
    gap: 20px;

}

main .main-container .main-infos-content .button-content button{
    padding: 10px 34px;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-weight: 700;
    font-size: 25px;
    box-shadow: 4px 4px 0px 0px #80f6ffbf;
    transition: .3s all ease-in-out;
}
main .main-container .main-infos-content .button-content button:hover{
    box-shadow: -4px -4px 0px 0px  #80f6ffbf;
}


main .main-container .main-image{
    width: 500px;
    height: 100%;
    background-color: #80f6ffbf;
    border: #80f6ffbf;
    border-radius: 20px;
    box-shadow: 10px 10px 5px black;
}


main .main-container .main-image img{
    width: 500px;
    height: 100%;
    transform:scaleX(-1);
}